.navbar {
    width: 100%;
    height: 145px;
    background-image: url("../resources/images/Header-background.png");
    font-size: 6em;
    text-shadow: 1px 1px 1px darken(#444, 20%);
    color: #444;
    font-family: 'VT323', ;
  }