body {
  height: 100%;
  background-image: url(./resources/images/Background.png);
  font-family: 'MineCrafter3Regular' !important;
}

.wrapper {
  display: block;
  height: 100%;
}

.main-wrapper {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;    
    height: calc(100% - 145px);
}